.vermelho{

    background-color: rgba(245, 43, 17, 0.945);
    transition: all 200ms;
    
   

}

.branco{

    background-color: white;
    
}

.mostrar{

    display: block;
}

.desaparecer{

    display: none;
}



    



